.group-page-container {
  text-align: center;
}

.group-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s ease;
}

.group-card:hover {
  background-color: lightblue;
}

.group-card.selected {
  background-color: lightblue;
}

.group-card h3 {
  margin: 0;
}

.bar-chart-container {
  margin-top: 20px;
  width: 650px; /* Adjust the width of the chart container */
  height: 550px; /* Adjust the height of the chart container */
  float: left;
}
